.home {
  padding: 3rem;
  margin: 10rem auto;
  text-align: center;
  background-color: #a892ee;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgb(168 146 238 / 26%);
  border: none;
  padding: 3rem;
  color: white;

  @media (max-width: 600px) {
    margin: 10rem 1rem auto;
  }
}
