.login {
  position: relative;
  background-color: #a892ee;
  max-width: 40rem;
  margin: 10rem auto;
  box-shadow: 0 2px 8px rgb(168 146 238 / 26%);
  border: none;
  padding: 3rem 1rem 0.5rem 1rem;

  .control {
    .form-text {
      label {
        font-size: 18px;
        font-weight: 500;
      }
      input {
        min-height: 2.5rem;
      }
    }
  }

  .form-action-cta {
    text-align: center;
    margin-top: 20px;

    .btn {
      padding: 0.8rem 4rem;
      border-radius: 2rem;
      font-size: 18px;
    }
  }
  .alternates {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;

    &:hover,
    &:active {
      color: #552ab8;
    }
  }
}
