.signup {
  background-color: #a892ee;

  .control {
    .form-text {
      label {
        font-size: 18px;
        font-weight: 500;
      }
      input {
        min-height: 2rem;
      }
    }
  }

  .form-action-cta {
    text-align: center;
    margin-top: 2rem;

    .btn {
      padding: 0.8rem 4rem;
      border-radius: 2rem;
      font-size: 18px;
    }
  }
  .alternates {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;

    &:hover,
    &:active {
      color: #552ab8;
    }
  }
}
