.backdrop {
  background: #27272b;
  opacity: 70%;
  height: 100vh;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  transition: all 0.3s ease;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: calc(50% - 1rem);
  transform: translate(-50%, -50%);
  background: #fff;
  margin: 1rem 1rem auto;
  border-radius: 10px;
  width: min(90vw, 40rem);
  z-index: 2;
  box-shadow: 0 2px 8px rgb(0 0 0 / 33%);

  .header {
    display: flex;
    align-items: center;
    margin: 1rem;
    margin-bottom: 1.8rem;

    .header_title {
      color: black;
      font-size: 1.5rem;
      font-weight: 600;
    }

    .close {
      font-size: 1.3rem;
      margin-left: auto;
      background-size: cover;
      height: 25px;
      width: 25px;
      white-space: nowrap;
      color: black;
    }
  }

  .content {
    margin: 1rem;
  }

  .modal-body-scrollable {
    max-height: 500px;
    overflow-y: auto;
  }
}
.full-screen-modal-container {
  max-width: none;
  width: 90%;
}
