.new-expense-card {
  background-color: #a892ee;
  margin-bottom: 30px;

  .form {
    margin: 10px;

    .heading {
      font-size: 26px;
      font-weight: 600;
      @media (max-width: 768px) {
        font-size: 20px;
      }
    }

    .form-action-cta {
      text-align: right;
      margin-top: 20px;
      margin-right: 16px;
    }
  }
}
